<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Upload File Servlet</servlet-name>
        <servlet-class>com.example.UploadFileServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload File Servlet</servlet-name>
        <url-pattern>/UploadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Check File Status Servlet</servlet-name>
        <servlet-class>com.example.CheckFileStatusServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Check File Status Servlet</servlet-name>
        <url-pattern>/CheckFileStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Start Game Servlet</servlet-name>
        <servlet-class>com.example.StartGameServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Start Game Servlet</servlet-name>
        <url-pattern>/StartGameServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Check Game Staus Servlet</servlet-name>
        <servlet-class>com.example.CheckGameStatusServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Check Game Staus Servlet</servlet-name>
        <url-pattern>/CheckGameStatusServlet</url-pattern>
    </servlet-mapping>
</web-app>