#form label.error {
	padding: 20px;
    color: #DD577A;
}
#form input.error {
    border: 2px solid #DD577A;
}
#outsideContainer {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #DD577A;
	overflow: hidden;
}
#insideContainer {
	margin-left: 10%;
	margin-right: 10%;
	padding: 20px;
	width: fill;
	height: 80%;
	background-color: #FFF0CF;
	border-radius: 15px;
}
#header {
	height: 5%;
}
#headerTitle {
	margin-leftt: 5px;
    padding: 10px;
    background-color: #404964;
    color: #FFFFFF;
    font-weight: bold;
}
#file {
	padding: 5px;
	font-size: 14pt;
}

#submit {
	margin: 5px;
	font-size: 14pt;
	border-radius: 10px;
	background-color: #404964;
    color: #FFFFFF;
}
#status {
    margin: 5px;
    height: auto;
    width: auto;
}

#start {
    margin: 5px;
    font-size: 14pt;
    border-radius: 10px;
    background-color: #404964;
    color: #FFFFFF;
    display: none;
}
